@use '../../styles' as styles;

:root {
  --esds-button-transition: 150ms linear 0s;
}

[esds-button] {
  /* reset anchor style */
  text-decoration: none;

  /* reset button style */
  appearance: none;
  margin: 0;
  width: auto;

  /* custom style */
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: var(--esds-button-border-radius);
  padding-inline: var(--esds-button-padding-inline);
  padding-block: var(--esds-button-padding-block);
  gap: var(--esds-button-gap-row) var(--esds-button-gap-column);
  font: var(--esds-button-content-font);
  border: var(--esds-button-border-width) solid var(--esds-button-border-color);
  background-color: var(--esds-button-background-color);
  color: var(--esds-button-content-color);
  transition:
    border-color var(--esds-button-transition),
    background-color var(--esds-button-transition),
    color var(--esds-button-transition);

  /* auto wrap text */
  hyphens: auto;
  overflow-wrap: anywhere;
  word-break: normal;
  white-space: normal;

  &:focus-visible {
    outline: var(--esds-focus-border-width) solid var(--esds-focus-border-color);
    outline-offset: var(--esds-spacing-2xs); // TODO use focus token
    border-radius: var(--esds-focus-border-radius);
  }

  &:not(:disabled, [disabled], [loading]) {
    &:hover {
      border-color: styles.source-over(--esds-button-border-color, --esds-color-state-hover-strong);
      background-color: styles.source-over(
        --esds-button-background-color,
        --esds-color-state-hover-strong
      );
      color: styles.source-over(--esds-button-content-color, --esds-color-state-hover-medium);
    }

    &:active {
      border-color: styles.source-over(
        --esds-button-border-color,
        --esds-color-state-pressed-strong
      );
      background-color: styles.source-over(
        --esds-button-background-color,
        --esds-color-state-pressed-strong
      );
      color: styles.source-over(--esds-button-content-color, --esds-color-state-pressed-medium);
    }
  }

  &:is(:disabled, [disabled]) {
    border-color: var(--esds-button-border-color-disabled);
    background-color: var(--esds-button-background-color-disabled);
    color: var(--esds-button-content-color-disabled);
  }

  & > esds-icon {
    font-size: var(--esds-button-icon-size);
  }

  &[loading] {
    cursor: progress;

    // interactivity: inert;
  }
}
