@use '../../styles' as styles;

:root {
  --esds-button-font: var(--esds-body-md-font);
  --esds-button-background-color: var(--esds-color-background-brand);
  --esds-button-background-color-a: var(--esds-color-background-brand-a);
  --esds-button-content-color: var(--esds-color-content-on-brand);
  --esds-button-content-color-a: var(--esds-color-content-on-brand-a);
  --esds-button-border-radius: var(--esds-radius-md);
  --esds-button-padding-inline: var(--esds-spacing-md);
  --esds-button-padding-block: var(--esds-spacing-md);
}

[esds-button] {
  /* reset anchor style */
  text-decoration: none;

  /* reset button style */
  border: none;
  margin: 0;
  width: auto;

  /* custom style */
  display: inline-flex;
  font: var(--esds-button-font);
  background-color: var(--esds-button-background-color);
  color: var(--esds-button-content-color);
  border-radius: var(--esds-button-border-radius);
  padding-inline: var(--esds-button-padding-inline);
  padding-block: var(--esds-button-padding-block);

  &:focus-visible {
    outline: var(--esds-focus-border-width) solid var(--esds-focus-border-color);
    border-radius: var(--esds-focus-border-radius);
  }

  &:hover {
    background-color: styles.source-over(
      --esds-button-background-color,
      --esds-color-state-hover-strong
    );
    color: styles.source-over(--esds-button-content-color, --esds-color-state-hover-medium);
  }

  &:active {
    background-color: styles.source-over(
      --esds-button-background-color,
      --esds-color-state-pressed-strong
    );
    color: styles.source-over(--esds-button-content-color, --esds-color-state-pressed-medium);
  }
}
