@import '../../node_modules/@infomaniak-design-system/tokens/css/themes/light.theme.attr.css';
@import '../../node_modules/@infomaniak-design-system/tokens/css/themes/dark.theme.attr.css';
@import '../../node_modules/@infomaniak-design-system/tokens/css/variants/mail.variant.attr.css';
