@import '@infomaniak-design-system/tokens/css/themes/light.theme.attr.css';
@import '@infomaniak-design-system/tokens/css/themes/dark.theme.attr.css';
@import '@infomaniak-design-system/tokens/css/variants/mail.variant.attr.css';
