[esds-body] {
  font: var(--esds-body-font);
}

[esds-body='xs'] {
  --esds-body-font: var(--esds-body-xs-font-base);

  &[emphasized],
  & strong {
    --esds-body-font: var(--esds-body-xs-font-emphasized);
  }
}

[esds-body='sm'] {
  --esds-body-font: var(--esds-body-sm-font-base);

  &[emphasized],
  & strong {
    --esds-body-font: var(--esds-body-sm-font-emphasized);
  }
}

[esds-body='md'],
strong {
  --esds-body-font: var(--esds-body-md-font-base);

  &[emphasized],
  & strong {
    --esds-body-font: var(--esds-body-md-font-emphasized);
  }
}

[esds-body='lg'] {
  --esds-body-font: var(--esds-body-lg-font-base);

  &[emphasized],
  & strong {
    --esds-body-font: var(--esds-body-lg-font-emphasized);
  }
}

p {
  &[esds-body] {
    margin-block: var(--esds-body-margin-block, 0);
    margin-inline: var(--esds-body-margin-inline, 0);
  }
}
