:host {
  display: inline-block;
  vertical-align: 0;
}

:host([inline]),
:host([inline='']),
:host([inline='true']) {
  vertical-align: -0.125em;
}

svg {
  display: block;
  margin: auto;
  width: 50px;
}
