[esds-link] {
  display: inline;
  color: var(--esds-link-content);
  text-decoration: none;

  /* Default */
  --esds-link-content: var(--esds-color-content-brand-default);

  /* Hover */
  --esds-link-content-hover: var(--esds-color-content-brand-hover);

  /* Pressed */
  --esds-link-content-pressed: var(--esds-color-content-brand-pressed);

  /* Visited */
  --esds-link-content-visited: var(--esds-color-content-visited-default);

  /* Visited + Hover */
  --esds-link-content-visited-hover: var(--esds-color-content-visited-hover);

  /* Visited + Pressed */
  --esds-link-content-visited-pressed: var(--esds-color-content-visited-pressed);

  /* Focus ring */
  --esds-link-focus: 2px solid currentcolor;

  &:focus-visible {
    outline: var(--esds-link-focus);
    outline-offset: 2px;
  }

  &:hover {
    color: var(--esds-link-content-hover);
  }

  &:active {
    color: var(--esds-link-content-pressed);
  }

  &:visited {
    color: var(--esds-link-content-visited);

    &:hover {
      color: var(--esds-link-content-visited-hover);
    }

    &:active {
      color: var(--esds-link-content-visited-pressed);
    }
  }

  &[underline] {
    /*
      NOTE: potential options: https://mui.com/material-ui/react-link/#underline
       - underline="none"
       - underline="hover"
       - underline="always"
     */
    text-decoration: underline;
  }
}
