:host {
  display: inline;

  /* Default */
  --esds-link-default-color: currentColor;
  --esds-link-default-text-decoration: underline;

  /* Visited */
  --esds-link-visited-color: currentColor;
  --esds-link-visited-text-decoration: underline;

  /* Hover */
  --esds-link-hover-color: currentColor;
  --esds-link-hover-text-decoration: underline;

  /* Pressed */
  --esds-link-pressed-color: currentColor;
  --esds-link-pressed-text-decoration: underline;

  /* Visited + Hover */
  --esds-link-visited-hover-color: currentColor;
  --esds-link-visited-hover-text-decoration: underline;

  /* Visited + Pressed */
  --esds-link-visited-pressed-color: currentColor;
  --esds-link-visited-pressed-text-decoration: underline;
}

a {
  display: inline-flex;
  gap: var(--esds-spacing-xs);
  align-items: center;
  white-space: nowrap;
  color: var(--esds-link-default-color);
  text-decoration: var(--esds-link-default-text-decoration);
}

a:visited {
  color: var(--esds-link-visited-color);
  text-decoration: var(--esds-link-visited-text-decoration);
}

a:hover {
  color: var(--esds-link-hover-color);
  text-decoration: var(--esds-link-hover-text-decoration);
}

a:active {
  color: var(--esds-link-pressed-color);
  text-decoration: var(--esds-link-pressed-text-decoration);
}

a:visited:hover {
  color: var(--esds-link-visited-hover-color);
  text-decoration: var(--esds-link-visited-hover-text-decoration);
}

a:visited:active {
  color: var(--esds-link-visited-pressed-color);
  text-decoration: var(--esds-link-visited-pressed-text-decoration);
}

a:focus-visible {
  outline: var(--esds-focus-ring, 2px solid currentColor);
  outline-offset: 2px;
}
