[esds-text-link] {
  display: inline;
  text-decoration: none;
  color: var(--esds-text-link-content-color-default);

  &:focus-visible {
    outline: 2px solid currentcolor;
    outline-offset: 2px;
  }

  &:hover,
  &:active {
    color: color-mix(
      in srgb,
      rgb(from var(--esds-color-state-hover-strong) r g b / 100%)
        calc(var(--esds-color-state-hover-strong-a) * 100%),
      rgb(from var(--esds-text-link-content-color-default) r g b / 100%)
        calc(
          var(--esds-text-link-content-color-default-a) *
            (1 - var(--esds-color-state-hover-strong-a)) * 100%
        )
    );
  }

  &:visited {
    color: var(--esds-text-link-content-color-visited);

    &:hover,
    &:active {
      color: color-mix(
        in srgb,
        rgb(from var(--esds-color-state-hover-medium) r g b / 100%)
          calc(var(--esds-color-state-hover-medium-a) * 100%),
        rgb(from var(--esds-text-link-content-color-visited) r g b / 100%)
          calc(
            var(--esds-text-link-content-color-visited-a) *
              (1 - var(--esds-color-state-hover-medium-a)) * 100%
          )
      );
    }
  }

  &[underline] {
    /*
      NOTE: potential options: https://mui.com/material-ui/react-link/#underline
       - underline="none"
       - underline="hover"
       - underline="always"
     */
    text-decoration: underline;
  }
}
