[esds-text-link] {
  display: inline;
  color: var(--esds-text-link-color-default);
  text-decoration: none;

  &:focus-visible {
    outline: 2px solid currentcolor;
    outline-offset: 2px;
  }

  &:hover {
    color: var(--esds-text-link-color-hover);
  }

  &:active {
    color: var(--esds-text-link-color-pressed);
  }

  &:visited {
    color: var(--esds-text-link-color-visited-default);

    &:hover {
      color: var(--esds-text-link-color-visited-hover);
    }

    &:active {
      color: var(--esds-text-link-color-visited-pressed);
    }
  }

  &[underline] {
    /*
      NOTE: potential options: https://mui.com/material-ui/react-link/#underline
       - underline="none"
       - underline="hover"
       - underline="always"
     */
    text-decoration: underline;
  }
}
