@import '@infomaniak-design-system/tokens/css/modifiers/theme/light.attr.css';
@import '@infomaniak-design-system/tokens/css/modifiers/theme/dark.attr.css';
@import '@infomaniak-design-system/tokens/css/modifiers/product/mail.attr.css';
@import '@infomaniak-design-system/tokens/css/modifiers/product/kdrive.attr.css';

